# Git
.git
.gitignore

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
build
target

# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Docs
*.md
!README.md

# Temp
*.tmp
.cache
